
body {
    background-color: aqua;
    font-family: 'Nunito', sans-serif;
}

.section-1 {
    background: linear-gradient(#f01, #9198e5, 270d);
    color: rgb(255, 255, 255);
}

.section-2 {
    background-color: #af0;
}