
body {
    background-color: aqua;
    font-family: 'Nunito', sans-serif;
}

.section-1 {
    background-color: rgba(159, 59, 59, 0.8);
    color: rgb(255, 255, 255);
}

.section-2 {
    background-color: #af0;
}