
body {
    background-color: aqua;
    font-family: 'Nunito', sans-serif;
}

.section-1 {
    background-color: rgba(36, 89, 26, 0.2);
    color: rgb(255, 255, 255);
}

.section-2 {
    background-color: #af0;
}