
body {
    background-color: aqua;
    font-family: 'Nunito', sans-serif;
}

.section-1 {
    background-color: rgba(127, 255, 129, 0.8);
    color: rgb;
}

.section-2 {
    background-color: #af0;
}